RHT_OCP4_MASTER_API=https://api.ap46a.prod.ole.redhat.com:6443/
RHT_OCP4_WILDCARD_DOMAIN=apps.ap46a.prod.ole.redhat.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ap46a.prod.ole.redhat.com
RHT_OCP4_DEV_USER=btjulh
RHT_OCP4_DEV_PASSWORD=d40eb79bac8649a89344
RHT_OCP4_GITHUB_USER=ilosaurus
RHT_OCP4_QUAY_USER=ilosaurus
